.skills {
    padding-top: 120px;
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, minmax(270px, auto));
        grid-auto-rows: 1fr;
        gap: 13px;
        width: 1141px;
        &_score {
            margin-top: 120px;
            width: 1140px;
            display: grid;
            grid-template-columns: repeat(3, 350px);
            grid-auto-rows: 70px;
            column-gap: 45px;
            row-gap: 30px;
        }
    }
    &__item {
        border: solid 1px #000;
        padding: 30px;
        &-subtitle {
            font-size: 14px;
            line-height: 21px;
            font-weight: 700;
            margin-top: 20px;
        }
        &-descr {
            font-size: 12px;
            line-height: 18px;
            margin-top: 15px;
        }
        &_score {
            &-info {
                position: relative;
                display: flex;
                justify-content: space-between;
                &-title {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 21px;
                    padding-left: 14px;
                    @include before_circle;
                    &:before {
                        left: 0px;
                        top: -40%;
                    }
                }
                &-percent {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
            &-bar {
                margin-top: 34px;
                width: 350px;
                height: 14px;
                background-color: #E8E4DE;
                border-radius: 4px;
                &-fill {
                    margin-top: 20px;
                    height: 14px;
                    background-color: $main-color;
                    border-radius: 4px;
                }
            }
        }
    }
}